#textdomain wesnoth-Two_Brothers

#define GIVE_URGHAT_BLADE
    [object]
        id=urghat_blade_cold_dmg
        silent=yes
        duration=forever
        [effect]
            apply_to=attack
            name=dagger,blade
            set_description= _ "urghat blade"
            # TODO: add icon
            # set_icon=attacks/dagger-chill.png
            set_type=cold
            increase_damage=25%
        [/effect]
    [/object]
#enddef

#define PLAYABLE
    controller=human
    village_gold=1
    persistent=yes
    allow_player=yes
#ifdef MULTIPLAYER
    team_lock=yes
    gold_lock=yes
    income_lock=yes
    faction=Custom
    share_vision=all
#endif
#enddef

#define CHARACTER_STATS:ARGHA_URGHAT
    id="Argha"
    name= _ "Argha Urghat"
    unrenamable=yes
    canrecruit=yes
    color=green
    type="Orcish Slayer"
    {QUANTITY experience 15 12 10}
    # team details
    team_name=players
    user_team_name= _ "Northerners"
    {FLAG_VARIANT6 ragged}
    [modifications]
        {TRAIT_RESILIENT}
        {TRAIT_INTELLIGENT}
        {GIVE_URGHAT_BLADE}
    [/modifications]
    {PLAYABLE}
#enddef

#define CHARACTER_STATS:JOLAGH_URGHAT
    id="Jolagh"
    name= _ "Jolagh Urghat"
    unrenamable=yes
    type="Orcish Slayer"
    {QUANTITY experience 15 12 10}
    color=orange
    canrecruit=yes
    # team details
    team_name=players
    user_team_name= _ "Northerners"
    {FLAG_VARIANT6 ragged}
    [modifications]
        {TRAIT_RESILIENT}
        {TRAIT_QUICK}
        {GIVE_URGHAT_BLADE}
    [/modifications]
    {PLAYABLE}
#enddef