#textdomain wesnoth-Two_Brothers

#define RECRUIT_LIST_PLAYER
"Orcish Grunt, Orcish Archer, Wolf Rider, Orcish Assassin, Goblin Spearman"
#enddef

#define RECRUIT_LIST_DRAKES
"Drake Burner, Drake Glider, Drake Clasher, Drake Fighter"
#enddef

#define RECRUIT_LIST_DRAKES_ADVANCED
"Drake Burner, Drake Flare, Fire Drake, Drake Clasher, Drake Thrasher, Drake Arbiter, Drake Fighter, Drake Warrior"
#enddef

#define RECRUIT_LIST_SAURIANS
"Saurian Skirmisher, Saurian Augur"
#enddef

#ifver WESNOTH_VERSION < 1.17.10
#define RECRUIT_LIST_SAURIANS_ADVANCED
"Saurian Skirmisher, Saurian Ambusher, Saurian Augur, Saurian Oracle"
#enddef
#else
#define RECRUIT_LIST_SAURIANS_ADVANCED
"Saurian Skirmisher, Saurian Ambusher, Saurian Spearthrower, Saurian Augur, Saurian Oracle"
#enddef
#endif